<!DOCTYPE html>
<html>

<head>
  <title>TaskApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "posts.css", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <header>
    <h1>Ruby on Rails スケジュール管理アプリ</h1>
  </header>

  <%= yield %>

  <footer>
    <%if controller.action_name == "index"%>
      <h2><%="現在の日時#{Date.current.strftime('%Y年 %m月 %d日')} スケジュール合計： #{@posts.count} "%></h2>
    <% else %>
      <h2><%="現在の日時#{Date.current.strftime('%Y年 %m月 %d日')}"%></h2>
    <%end%>
  </footer>
</body>

</html>